{%load i18n %}
{%load gae_filters %}
{%load gae_tags %}
{% get_available_languages as LANGUAGES %}
<html>
<head>
	<title>My Jobs</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
</head>
<body>
	<h1>{{myvar}}</h1>
	{% trans "frase_internacional" %}
	<form action="/i18n/setlang/" method="post">
		<select name="language">
				<option value="99">Selecione...</option>
			{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}">{{ lang.1 }}</option>
			{% endfor %}
		</select>
		 <input type="submit" value="Go" />
	 </form>
	 {%if logged_user%}
	   <h4>{{logged_user}} / <a href='{% logout_url %}'>Logout</a></h4>
	 {%endif%}
	 
	 {%if not logged_user%}
	   <a href='{{login_url}}'>Login</a> <br/>
	 {%endif%}

	<a href="/portfolio/add">Adicionar Portfolio</a><br />
	<a href="/user/add">Adicionar Usuario</a><br />
	  
</body>
</html>