
html, body{
	margin:0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	text-align:center;
	background-color:#fff;
	background-image:url(/images/top_bg.gif);
	background-repeat:repeat-x;
	font-size: 100.01%;
} 

a, h2, h3, h4, p, td, li, ul, span, div, th, input, list, textarea, select, form { font-family:Verdana, Arial, Helvetica, sans-serif; color: #000;}
.ArialFont { font-family:Arial, Helvetica, sans-serif }

.White {color:#fff}
.Grey {color:#404040}
.Blue {color:#008FCF}
.Green {color:#51B310}
.LightGreen{color:#7DB035;}
.Red{color:#F84101;}

h1 {font-size:1.0em; color:#404040; padding: 0 0 14px 0; margin:0;}
h2 {font-size:1.0em; color:#404040; padding: 0 0 14px 0; margin:0;}
	h2.H2NoPad {font-size:1.0em; color:#404040; padding:0; margin:0;}
	/*Indented H2 Style for use when top icon used on Small Blocks*/
	h2.SmallBlockIndented {font-size:1.0em; color:#404040; padding: 0 0 14px 49px; margin:0;}
h3 {font-size:0.7em; color:#404040; padding: 0 0 14px 0; margin:0;}
	h3.H3NoPad{font-size:0.7em; color:#404040; padding:0; margin:0;}
h4 {font-size:0.7em; color:#404040; padding: 0 0 14px 0; margin:0;}
	h4.NoPadding {font-size:0.7em; color:#404040; padding:0; margin:0;}

p {color: #4E4C4C; font-size: 0.7em; padding: 0; margin:0;}
.MainCopy {font-size: 0.7em; padding: 0 0 20px 0;  margin:0;}
	.MainCopyHeader {font-size: 0.7em; padding: 20px 0 0 0;  margin:0;}
.MainCopyNoPad {font-size: 0.7em; padding: 0; margin:0;}
.LineSpace { line-height: 150%;}

.IntroCopy {font-size: 0.8em; padding: 0; margin:0;}
.Italic {font-style:italic;}
td {font-size: 0.8em; padding: 0 0 0 0; margin:0;}
.SpecialQuote {font-size: 1em; padding: 0 0 0 0; margin:0; font-style: italic;}
.SmallCopy {font-size:0.6em; color:#404040; padding:0; margin:0;}

Blockquote {font-size: 0.7em;}

ul.MainUl {padding: 0 0 20px 30px; margin:0;}
li.MainLi {font-size: 0.7em; padding: 0 0 0 0; margin:0; color:#404040;}
	ul.MainSubUl {padding: 0 0 0 18px; margin:0;}
	li.MainSubLi { padding: 0 0 0 0; margin:0;}
		ul.SmallBlockUl {padding: 0 0 0 15px; margin:0;}
		li.SmallBlockLi {font-size: 0.7em; padding: 0 0 0 0; margin:0;}

form {padding:0; margin:0;}

Input {color:#404040; font-size:0.7em;}
Select {color:#404040; font-size:0.7em;}
textarea{color:#404040; font-size:0.7em;}

a.bodylink {text-decoration : underline; }
a.bodylink:link {text-decoration : underline; }
a.bodylink:visited {text-decoration : underline; }
a.bodylink:hover {text-decoration : underline; }
a.bodylink:active {text-decoration : underline; }

#setwidth{ 
 width:100%; 
 text-align:left; 
 min-width: 960px; margin-left:auto; 
 margin-right:auto; 
 background-image:url(../images/footer_bg.gif);
 background-position:bottom;
 background-repeat:repeat-x;
} 
	#innerwidth{ 
	 width:960px; 
	 text-align:left; 
	 min-width: 960px; margin-left:auto; 
	 margin-right:auto;
	}  
	
	
#header{ 
 height:110px; 
 width:100%; 
 }

#headerlogo{ float:left; width:265px; padding:0; margin:0;}
#ReverseLogo{ float:left; width:400px; padding:0; margin:0; display:none;}
	
#headerSearch {top:0px; float:right; width:478px; height:30px; padding:0; margin:0; background-image:url(../images/search_bg.gif); position:relative;}

	/*Search*/
	#searchText{padding:4px 0 0 9px; margin:0; float:left; position:relative; width:40px;}
	#searchBox{padding:4px 0 0 8px; margin:0; float:left; position:relative; width:121px;}
		.boxSize{width:121px; height:13px;}
	#goButton{padding:5px 0 0 9px; margin:0; float:left; position:relative; width:34px;}
	#contactText{padding:4px 0 0 13px; margin:0; float:left; position:relative; width:54px;}
	#contactButton{padding:8px 0 0 5px; margin:0; float:left; position:relative; width:28px;}
	#locationText{padding:4px 0 0 10px; margin:0; float:left; position:relative; width:98px;}
	#locationButton{padding:4px 0 0 5px; margin:0; float:left; position:relative; width:26px;}

#headerMainNav{top:37px; float:right; width:695px; height:34px; padding:0; margin:0; position:relative;}

#SubNavHome{top:0px; width:940px; height:auto;  padding: 12px 10px 0 18px; margin:0; position:relative;}

#SubNavTopStrip{top:0px; float:left; width:960px; height:10px; padding:0; margin:0; background-image:url(../images/subnavtopstrip.gif); background-repeat:no-repeat;}

#SubNavContent{top:0px; width:960px; height:auto; padding: 0; margin:0; background-color:#A3A3A3; position:relative;}

		div#SubNavContent ul { padding: 0 0 0 18px; margin:0 10px 0 0; }		
		div#SubNavContent li { display: inline;	padding: 0 10px 0 0; margin:0; color:#fff; }
		div#SubNavContent a { font-size: 0.7em; text-decoration : none; color:#fff; }
		div#SubNavContent a:hover { font-size: 0.7em; text-decoration : underline; color:#fff; padding: 0; margin:0; }

#SubNavBaseStrip{top:0px; float:left; width:960px; height:10px; padding:0; margin:0; background-image:url(../images/subnavbasestrip.gif); background-repeat:no-repeat; position:relative;}

		
#leftcol{
 width:0px; 
 float:left; 
 position:relative; 
 margin-left:-0px; 
 margin-right:0px;
 	z-index : 11; 
 }
	div#subleft	{float:left; width:0px;}

/*Home Only*/ 
#Homeleftcol{
 width:0px; 
 float:left; 
 position:relative; 
 margin-left:-0px; 
 margin-right:0px;
 	z-index : 11; 
 }
	div#Homesubleft	{float:left; width:0px;}

 

#outer{ 
 border:solid white 0px; 
  /*/*/ border-left-width: 0px ;  /* left column width. NN4 hack to hide borders */ 
border-left-color: #FFFFFF;   /* left column colour */ 
border-left-style: solid; 
 /*/*/ border-right-width: 227px; /* right column width. NN4 hack to hide borders */ 
border-right-color: #FFFFFF;  /* right column colour */ 
border-right-style: solid; 
  background-color: #FFFFFF; /* center column colour */ 
width: auto; 
 } 


/*Home Only*/ 
#Homeouter{ 
 border:solid white 0px; 
  /*/*/ border-left-width: 0px ;  /* left column width. NN4 hack to hide borders */ 
border-left-color: #FFFFFF;   /* left column colour */ 
border-left-style: solid; 
 /*/*/ border-right-width: 0px; /* right column width. NN4 hack to hide borders */ 
border-right-color: #FFFFFF;  /* right column colour */ 
border-right-style: solid; 
  background-color: #FFFFFF; /* center column colour */ 
width: auto; 
 } 
 
 
#inner{margin:0; width:100%;  }
#outer>#inner { border-bottom: 1px solid #fff;  }
 
#MainCol{ 
 float: left; 
 width: 100%; 
 position: relative; 
 margin: 20px 0px 0 0px; 
  	z-index : 12; 
 }
	.MainContent {  margin: 0 0 0 0; } /*padding for content */ 
 
.clr{clear:both;}
 
.content {padding:0;} /*padding for content */ 

#RightCol{
 /*/*/ width:227px; /* hack keeps NN4 right column right? */ 
 float:right; 
position:relative; 
  margin-right:-227px; 
 margin-left:0px; 
  	z-index : 13; 
} 

	#RightContent{margin-top:20px;} 

/*Home Only*/ 
#HomeRightCol{
 /*/*/ width:0px; /* hack keeps NN4 right column right? */ 
 float:right; 
position:relative; 
  margin-right:0px; 
 margin-left:0px; 
  	z-index : 13; 
} 

	#HomeRightContent{margin-top:0px;} 

/*Footer*/ 
div#footer {text-align:center; left:0px; height:200px; width:960px; min-width: 960px; margin-left:auto; margin-right:auto;  background-color:#1E1E1E;}
	#FooterRow {padding: 20px 0 0 0;  }

	div#FooterColOne{ width: 200px; float: left; padding: 0 0 0 15px; margin: 0;}
	div#FooterColOne ul	{ list-style-type: none; padding: 0; margin: 0;	}
	div#FooterColOne ul li { margin: 0; }
		#FooterColOne ul li a  { text-align:left; display: block; width: 180px; font-size: 10px; padding: 3px 0 3px 30px; margin:0; color:#fff;  background-image:url(../images/footer_li.gif); background-repeat:no-repeat;  background-color:#1E1E1E;}

	div#FooterColTwo{ width: 200px; float: left; padding: 0; margin: 0;}
	div#FooterColTwo ul	{ list-style-type: none; padding: 0; margin: 0;	}
	div#FooterColTwo ul li { margin: 0; }
		#FooterColTwo ul li a  { text-align:left; display: block; width: 180px; font-size: 10px; padding: 3px 0 3px 30px; margin:0; color:#fff;  background-image:url(../images/footer_li.gif); background-repeat:no-repeat;  background-color:#1E1E1E;}

	div#FooterColThree{ width: 230px; float: left; padding: 0; margin: 0;}
	div#FooterColThree ul	{ list-style-type: none; padding: 0; margin: 0;	}
	div#FooterColThree ul li { margin: 0; }
		#FooterColThree ul li a  { text-align:left; display: block; width: 230px; font-size: 10px; padding: 3px 0 3px 30px; margin:0; color:#fff;  background-image:url(../images/footer_li_fam.gif); background-repeat:no-repeat;  background-color:#1E1E1E;}

		a.footernav { color: #fff; text-decoration : none;}
		a.footernav:link { color: #fff; text-decoration : none;}
		a.footernav:visited { color: #fff; text-decoration : none; }		
		a.footernav:active	{ color: #fff; text-decoration : none; }
		a.footernav:hover	{ color: #fff; text-decoration : underline;}
		
	#FooterColFour  { float:right; text-align:left; width:180px; color: #fff;  padding: 0 30px 0 0; margin:0; background-color:#1E1E1E;}
	#FooterColFourCN  { float:right; text-align:left; width:230px; color: #fff;  padding: 0 30px 0 0; margin:0; background-color:#1E1E1E;}
	H4.FooterH4 { color: #fff; font-size: 10px;  padding: 0 0 5px 0; margin:0; text-align:left;}
	.FooterText { color: #fff; font-size: 10px;}
	
 
 /*printer styles*/ 
@media print{ 
body{	font-size: 140.01%;} 
#header{display:none;}
#ReverseLogo{ padding: 0 0 0 25px; display:Block;}
#SubNavContent {display:none;}
#footer{display:none;}


/*hide the left column when printing*/
#leftcol{display:none;} 
#outer{border-left:0;} 

/*hide the right column when printing*/
#RightCol{display:none;} 
#outer{border-right:0;} 
}

/*Email login*/
	#emailBox{padding:8px 0 8px 0; margin:0; float:left; position:relative; width:200px;}
	.emailboxSize{max-width:198px; min-width:198px; width:auto !important; width:198px; height:13px; border:0; background-color:#DAF3C9;}

/*----------------------*/
/*Custom hacks*/
/*----------------------*/

/*Make sub nav links black when selected */
div#SubNavContent .colour-black, div#SubNavContent .colour-black a{
  color: black;  
}
div#SubNavContent a.colour-black:hover{
  color: black;
  text-decoration: underline;
}

/* Make background !important so the Google toolbar ignores them */
.emailboxSize{max-width:198px; min-width:198px; width:auto !important; width:198px; height:13px; border:0; background-color:#DAF3C9 !important;}

/* Modify blogs listings */
/* Undo the existing 0.7 on a p, blockquote, h3, h4 */

.blogsListWrapper p, .blogsListWrapper blockquote, .MainCopy h3, .MainCopy h4, .MainCopy p{
  font-size: 1em;
}

.blogsListWrapper pre{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.blogsListWrapper a{
  color:#008FCF;
}

h3.H3NoPadNoColour{ padding:0; margin:0 0 0 8px; font-size: 0.9em}