<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
	<meta name="author" content="Rafael Nunes">
	<link rel="stylesheet" href="/css/basic.css" type="text/css" media='screen'/>
</head>

<body>
  Olá, {{user}}
   <div id="dv_busca">
     <form action="/search/" method="POST">
        <p>ID Tweet <input type="text" name="tw_id_search" /></p>
        <input type="submit" value="Buscar"/>
     </form>
   </div>
   <hr/>
  <table>
{% for tw in tweets %}
    <tr>
      <td>
          <img src='{{ tw.img_url }}'/><br/>
          {{tw.from_user}}<br/>
          {{tw.tweet_id}}
      </td>
      <td>{{tw.text}}</td>
      <td>
        <div class="basic-modal-content" id="modal_c_{{tw.tweet_id}}">
          <div id="dv_ajax">
            <div class="dv_load"></div>
            <div class="dv_form">
              <form method="POST" class="form_ajaxx" onsubmit="return send_ajax(this, {{tw.tweet_id}})">
                <p>
                  <textarea name="txt_c"></textarea><br/>
                  <input type="hidden" name="id_tw" value="{{tw.key}}"/>
                </p>
                <input type="submit" value="Enviar"/>
              </form>
            </div>
          </div>
          <div id="dv_comments_{{tw.tweet_id}}">
           {%for k, v in all_comments.items%}
             {% if k == tw.tweet_id%}
                {%for cm in v%}
                  <div>
                    <p>{{cm.text}}</p>
                  </div>
                {%endfor%}
             {%endif%}
           {%endfor%}
          </div> 
        </div>
        <ul>
          <li><a href="#" class="basic" name="{{tw.tweet_id}}">Coment&aacute;rios</a></li>
        </ul>
      </td>
    </tr>
{% endfor %}
</table>

</body>
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.simplemodal-1.3.5.min.js"></script>
<script type="text/javascript" src="/js/basic.js"></script>
</html>
