<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!--	<filter>-->
<!--		<filter-name>transaction_filter</filter-name>-->
<!--		<filter-class>br.com.yaw.servlet.filter.TransactionFilter</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>transaction_filter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->
	
<!--	<filter>-->
<!--		<filter-name>session_filter</filter-name>-->
<!--		<filter-class>br.com.yaw.servlet.filter.SessionFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>urls_no_session</param-name>-->
<!--			<param-value>-->
<!--				/index.html,/company/add,/user/add,/user/add_contact			-->
<!--			</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>session_filter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->

	
	<listener>
		<listener-class>br.com.yaw.servlet.listener.GeneralContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>company</servlet-name>
		<servlet-class>br.com.yaw.servlet.action.CompanyActionServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>comment</servlet-name>
		<servlet-class>br.com.yaw.servlet.action.CommentActionServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>br.com.yaw.servlet.action.UserActionServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>async</servlet-name>
		<servlet-class>br.com.yaw.servlet.action.AsyncServlet</servlet-class>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>company</servlet-name>
		<url-pattern>/company/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>comment</servlet-name>
		<url-pattern>/comment/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>async</servlet-name>
		<url-pattern>/async/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
