{% extends "base.html" %}
{%load gae_tags %}

{% block content %}

<div class="main">
          <div class="col1">
              <img src="/static/{%buster%}/img/empresa.jpg" />
            </div>
            
            <div class="col2">
              <img src="/static/{%buster%}/img/portfolio.jpg" />
                <a rel="portifa" href="/static/{%buster%}/img/portfolio1.jpg" title="descri&ccedil;&atilde;o do projeto" class="fancybox"><img src="/static/{%buster%}/img/portfolio1.jpg" class="portfolio" id="portifa1" /></a>
                <a rel="portifa" href="/static/{%buster%}/img/portfolio2.jpg" title="descri&ccedil;&atilde;o do projeto" class="fancybox"><img src="/static/{%buster%}/img/portfolio2.jpg" class="portfolio" id="portifa2" /></a>
                <a rel="portifa" href="/static/{%buster%}/img/portfolio3.jpg" title="descri&ccedil;&atilde;o do projeto" class="fancybox"><img src="/static/{%buster%}/img/portfolio3.jpg" class="portfolio" id="portifa3" /></a>
                <a rel="portifa" href="/static/{%buster%}/img/portfolio4.jpg" title="descri&ccedil;&atilde;o do projeto" class="fancybox"><img src="/static/{%buster%}/img/portfolio4.jpg" class="portfolio" id="portifa4" /></a>
            </div>
            
            <div class="clear"></div>
        </div>
{% endblock %}