
.BlockLargeOuter{min-height:240px; height:auto !important; height:240px; width:708px; padding:0; margin:0; background-image:url(/images/block_grey_large.gif); background-repeat:no-repeat; position:relative;}
	.BlockLargeIndent{min-width:659px; width:auto !important; width:659px; padding:17px 22px 0 22px; margin:0;}
		.LargeGreyLine{margin:0; padding:0; width:659px; height:1px;}
		.LargeGreyLinePadTop{margin:0; padding:5px 0 0 0; width:659px; height:1px;}
		.LargeGreyLinePrintPadTop{display:none;}
		/* ImageDiv */
		Div.ImageWrap {margin:0; padding:20px 0 0 0;}
			Div.LandImage { float: left; padding: 0 20px 0 0; width: 200px;}
			Div.LandImageCopy {float: left; padding: 0; margin:0; width: 440px;}
				.LandImageCaption { font-size: 0.7em; color:#404040; padding: 0; margin:0; width: 200px;}
			Div.PortraitImage { float: left; padding: 0 20px 0 0; width: 120px;}
			Div.PortraitImageRightFloat { float: right; padding: 0 20px 0 0; width: 120px;}
				.PortraitCaption { font-size: 0.7em; color:#404040; padding: 0; margin:0; width: 120px;}
			Div.PortraitImageCopy {float: left; padding: 0; margin:0; width: 520px;}
		/* End ImageDiv */

.BlockGreySmallOuter{min-height:240px; height:auto !important; height:240px; width:227px; padding:0; margin:0; background-image:url(/images/block_grey_small.gif); background-repeat:no-repeat; position:relative;}
	.BlockGreySmallIndent{min-width:200px; width:auto !important; width:200px; padding:17px 13px 0 13px; margin:0;}
		.SmallGreyLine{margin:0; padding:0 0 14px 0;}
		.SmallGreyLineNoPad{margin:0; padding:0;}

.BlockGreenSmallOuter{min-height:240px; height:auto !important; height:240px; width:227px; padding:0; margin:0; background-image:url(/images/block_green_small.gif); background-repeat:no-repeat; position:relative;}
	.BlockGreenSmallIndent{min-width:200px; width:auto !important; width:200px; padding:17px 13px 0 13px; margin:0;}
		.SmallGreenLine{margin:0; padding:0 0 14px 0;}
		
		
/*Buttons for right Small Block */
.BlockSmallButtonOuter{min-height:64px; height:auto !important; height:64px; width:227px; padding:0; margin:0; position:relative;}
	.BlockSmallButtonIndent{min-width:227px; width:auto !important; width:227px; padding:0; margin:0;}
	
	
/*Padding for Small Block main image*/
.BlockSmallImagePad{margin:0; padding:0 0 15px 0;}

/*No padding for Small Block flash*/
.BlockSmallFlash{margin:0; padding:0;}

/*Sub Blocks for vacancies, video, podcast etc*/
.BlockLargeSubOuter{min-width:659px; width:auto !important; width:659px; padding:17px 0 0 0; margin:0;}

/* Title Row */
	.BlockTitleRow{min-width:659px; width:auto !important; width:659px; padding:0; margin:0; position:relative;}
	
/* Vacancy Titles */
		.VacancyTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleB{max-width:250px; min-width:250px; width:auto !important; width:250px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleC{max-width:175px; min-width:175px; width:auto !important; width:175px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleD{max-width:203px; min-width:203px; width:auto !important; width:203px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Video Titles */
		.VideoTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleB{max-width:430px; min-width:430px; width:auto !important; width:430px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleC{max-width:95px; min-width:95px; width:auto !important; width:95px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleD{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Podcast Titles */
		.PodcastTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleB{max-width:430px; min-width:430px; width:auto !important; width:430px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleC{max-width:95px; min-width:95px; width:auto !important; width:95px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleD{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/*  ----------------ADD TO PRINTING----------------   */

/* Articles Titles */
		.ArticlesTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleB{max-width:195px; min-width:195px; width:auto !important; width:195px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleC{max-width:330px; min-width:330px; width:auto !important; width:330px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleD{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}

/* Press Release Titles */
		.PressReleaseTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PressReleaseTitleB{max-width:525px; min-width:525px; width:auto !important; width:525px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PressReleaseTitleC{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Upcoming events Titles */
		.EventsTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleB{max-width:175px; min-width:175px; width:auto !important; width:175px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleC{max-width:175px; min-width:175px; width:auto !important; width:175px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleD{max-width:175px; min-width:175px; width:auto !important; width:175px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleE{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}

				
/* Content Row */
	.BlockContentRow{min-width:659px; width:auto !important; width:659px; padding:0; margin:0; position:relative;}
	
/*Current vacancies*/
.Vacancy{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.VacancyImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.VacancyPosition{max-width:250px; min-width:250px; width:auto !important; width:250px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VacancyCountry{max-width:175px; min-width:175px; width:auto !important; width:175px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VacancyLocation{max-width:203px; min-width:203px; width:auto !important; width:203px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Video Listing*/
.Video{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.VideoImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.VideoTitle{max-width:430px; min-width:430px; width:auto !important; width:430px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VideoSize{max-width:95px; min-width:95px; width:auto !important; width:95px; float:left; padding:0; margin:0; position:relative; font-size:0.7em; color:#7DB035;}
	.VideoDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}	
	
/*Podcast Listing*/	
.Podcast{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.PodcastImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.PodcastTitle{max-width:430px; min-width:430px; width:auto !important; width:430px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.PodcastSize{max-width:95px; min-width:95px; width:auto !important; width:95px; float:left; padding:0; margin:0; position:relative; font-size:0.7em; color:#7DB035;}
	.PodcastDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}	

/*Article Publication*/
.Article{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.ArticleImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.ArticlePublication{max-width:195px; min-width:195px; width:auto !important; width:195px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.ArticleName{max-width:330px; min-width:330px; width:auto !important; width:330px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.ArticleDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Press Release*/
.PressRelease{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.PressReleaseImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.PressReleaseTitle{max-width:525px; min-width:525px; width:auto !important; width:525px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.PressReleaseDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	
/*Upcoming events*/
.Events{min-width:659px; width:auto !important; width:659px; padding:5px 0 5px 0; margin:0; position:relative;}
	.EventsImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.EventsName{max-width:170px; min-width:170px; width:auto !important; width:170px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em;}
	.EventsLocation{max-width:170px; min-width:170px; width:auto !important; width:170px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em;}
	.EventsType{max-width:170px; min-width:170px; width:auto !important; width:170px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em}
	.EventsDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/* Start Tag Cloud CSS */

#cloud {padding:5px 1px 10px 1px; margin:0; line-height:1.2em; text-align:justify;}
#cloud a {text-decoration:none; padding:0px;}
a.tag1{font-size:0.7em;}
a.tag2{font-size:0.8em; font-weight:200;}
a.tag3{font-size:0.9em; font-weight:300;}
a.tag3Bolder{font-size:0.9em; font-weight:bold;}
a.tag4{font-size:1.0em; font-weight:bold;}
a.tag5{font-size:1.2em; font-weight:300;}
/* End Tag Cloud CSS */


#ContentFootOuter{padding:25px 0 25px 0; margin:0;}
#ContentFoot {top:0px; float:right; width:659px; height:39px; padding:0; margin:0; position:relative;}

	#printIcon{padding:10px 0 10px 12px; margin:0; float:left; position:relative; width:24px;}
	#printText{font-size: 0.7em; padding:13px 0 0 11px; margin:0; float:left; position:relative;}
	#emailIcon{padding:10px 0 10px 23px; margin:0; float:left; position:relative; width:28px;}
	#emailText{font-size: 0.7em; padding:13px 0 0 11px; margin:0; float:left; position:relative;}
	
 /*print hr's and footer*/ 
.LargeGreyLinePrint{margin:0; padding:0; width:905px; height:1px; display:none;}
.ContentFootPrint{padding:15px 0 15px 0; margin:0; width:100%; display:none;}


 /*printer styles*/ 
@media print{ 
.LargeGreyLine{display:none;}
.LargeGreyLinePadTop{display:none;}
.LargeGreyLinePrintPadTop{margin:0; padding:5px 0 0 0; width:905px; height:1px; display:block;}
.LargeGreyLinePrint{margin:0; padding:0; width:905px; height:1px; display:block;}
.ContentFootPrint{padding:15px 0 15px 0; margin:0; width:100%; display:block;}
#ContentFoot{display:none;}
.BlockLargeOuter{width:100%;}
	.BlockLargeIndent{ width:100%;}
Div.LandImageCopy {width: 700px}


/* Content below used to force printing size on standard A4 printing */
/* This is for the Current Vacancies, Video Listing, Podcast Listing, Articales, Press releases and Upcoming Events */

/* Title Row */
	.BlockTitleRow{min-width:905px; width:auto !important; width:905px; padding:0; margin:0; position:relative;}
/* Vacancy Titles */
		.VacancyTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleB{max-width:396px; min-width:396px; width:auto !important; width:396px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleC{max-width:215px; min-width:215px; width:auto !important; width:215px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VacancyTitleD{max-width:263px; min-width:263px; width:auto !important; width:263px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Video Titles */
		.VideoTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleB{max-width:576px; min-width:576px; width:auto !important; width:576px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleC{max-width:135px; min-width:135px; width:auto !important; width:135px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.VideoTitleD{max-width:163px; min-width:163px; width:auto !important; width:163px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Podcast Titles */
		.PodcastTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleB{max-width:576px; min-width:576px; width:auto !important; width:576px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleC{max-width:135px; min-width:135px; width:auto !important; width:135px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PodcastTitleD{max-width:163px; min-width:163px; width:auto !important; width:163px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		
/* Articles Titles */
		.ArticlesTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleB{max-width:285px; min-width:285px; width:auto !important; width:285px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleC{max-width:486px; min-width:486px; width:auto !important; width:486px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.ArticlesTitleD{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}

/* Press Release Titles */
		.PressReleaseTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PressReleaseTitleB{max-width:771px; min-width:771px; width:auto !important; width:771px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.PressReleaseTitleC{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}

/* Upcoming events Titles */
		.EventsTitleA{width:31px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleB{max-width:257px; min-width:257px; width:auto !important; width:257px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleC{max-width:257px; min-width:257px; width:auto !important; width:257px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleD{max-width:257px; min-width:257px; width:auto !important; width:257px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
		.EventsTitleE{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}

/* Content Row */
	.BlockContentRow{min-width:905px; width:auto !important; width:905px; padding:0; margin:0; position:relative;}

/*Current vacancies*/
.Vacancy{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.VacancyImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.VacancyPosition{max-width:396px; min-width:396px; width:auto !important; width:396px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VacancyCountry{max-width:215px; min-width:215px; width:auto !important; width:215px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VacancyLocation{max-width:263px; min-width:263px; width:auto !important; width:263px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Video Listing*/	
.Video{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.VideoImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.VideoTitle{max-width:576px; min-width:576px; width:auto !important; width:576px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.VideoSize{max-width:135px; min-width:135px; width:auto !important; width:135px; float:left; padding:0; margin:0; position:relative; font-size:0.7em; color:#A1E244;}
	.VideoDate{max-width:163px; min-width:163px; width:auto !important; width:163px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}	
	
/*Podcast Listing*/	
.Podcast{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.PodcastImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.PodcastTitle{max-width:576px; min-width:576px; width:auto !important; width:576px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.PodcastSize{max-width:135px; min-width:135px; width:auto !important; width:135px; float:left; padding:0; margin:0; position:relative; font-size:0.7em; color:#A1E244;}
	.PodcastDate{max-width:163px; min-width:163px; width:auto !important; width:163px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Article Publication*/
.Article{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.ArticleImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.ArticlePublication{max-width:285px; min-width:285px; width:auto !important; width:285px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.ArticleName{max-width:486px; min-width:486px; width:auto !important; width:486px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.ArticleDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Press Release*/
.PressRelease{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.PressReleaseImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.PressReleaseTitle{max-width:771px; min-width:771px; width:auto !important; width:771px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}
	.PressReleaseDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}

/*Upcoming events*/
.Events{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
	.EventsImage{float:left; padding:0; margin:0; position:relative; width:31px;}
	.EventsName{max-width:252px; min-width:252px; width:auto !important; width:252px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em;}
	.EventsLocation{max-width:252px; min-width:252px; width:auto !important; width:252px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em;}
	.EventsType{max-width:252px; min-width:252px; width:auto !important; width:252px; float:left; padding:0 5px 0 0; margin:0; position:relative; font-size:0.7em}
	.EventsDate{max-width:103px; min-width:103px; width:auto !important; width:103px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}}


/*-------------------*/
/* Custom Hacks */
/*-------------------*/

/*This is borrowed from ArticleTileC*/
.SiteMapTitle{max-width:300px; min-width:300px; width:auto !important; width:300px; float:left; padding:5px 0 5px 0; margin:0; position:relative;}
.Sitemap{min-width:905px; width:auto !important; width:905px; padding:5px 0 5px 0; margin:0; position:relative;}
    .SitemapImage{float:left; padding:0; margin:0; position:relative; width:31px;height:14px;}
    .SitemapName{max-width:269px; min-width:269px; width:auto !important; width:269px; float:left; padding:0; margin:0; position:relative; font-size:0.7em;}