.BlockGreenSmallNewsOuter{min-height:240px; height:auto !important; height:240px; width:227px; padding:0; margin:0; background-image:url(../images/block_green_small_news.gif); background-repeat:no-repeat; position:relative;}
.BlockGreenSmallBlogOuter{min-height:240px; height:auto !important; height:240px; width:227px; padding:0; margin:0; background-image:url(../images/block_green_small_blog.gif); background-repeat:no-repeat; position:relative;}

.BlockHomeOuter{min-height:240px; height:auto !important; height:240px; width:454px; padding:0; margin:0; background-image:url(../images/block_grey_med.gif); background-repeat:no-repeat; position:relative;}
	.BlockHomeIndent{min-width:430px; width:auto !important; width:430px; padding:17px 14px 0 14px; margin:0;}
		.MedGreyLine{margin:0; padding:0; width:430px; height:1px;}
		.MedGreyLinePad{margin:0; padding: 10px 0 10px 0; width:430px; height:1px;}
		.MedGreyLinePadBase{margin:0; padding: 0 0 10px 0; width:430px; height:1px;}
		/* HomeImageDiv */
		Div.HomeImageWrap {margin:0; padding:20px 0 0 0;}
			Div.HomeLandImage { float: left; padding: 0 20px 0 0; width: 200px;}
			Div.HomeLandImageCopy {float: left; padding: 0; margin:0; width: 200px;}
			Div.HomePotraitImage { float: left; padding: 0 20px 0 0; width: 120px;}
			Div.HomePotraitImageCopy {float: left; padding: 0; margin:0; width: 280px;}
		/* End HomeImageDiv */

