/* reset */
html, body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, form, fieldset, input, textarea, blockquote, pre, code {margin: 0; padding: 0;}
img, fieldset, input, textarea {border: 0;}
:focus {outline: 0;}
em {font-style: italic;}
strong {font-weight: bold;} 
ul {list-style: none;} 
h1, h2, h3, h4 {font-size: 100%; font-weight: normal;}
p{text-align: justify;}
hr {margin-left: 0; margin-right:auto; width: 100%; color: #20B200;}

/* configuracoes do fundo da pagina */
html, body {height: 100%;}
/* coloca a imagem no fundo do body ajusta acima da pagina. repeat-x repete na horizontal */
body {font: 95.5% Arial, Helvetica, sans-serif; color: #444; background: url(../images/topo3.jpg) repeat-x 0 -165px; line-height: 1; text-align: center;}
#wrapper {position: relative; width: 965px; min-height: 100%; margin: 0 auto -160px; text-align: left;}
* html #wrapper {height: 100%;}
a {color: #AD5F11; text-decoration: none;}
a:hover {color: #61350A; text-decoration: underline;}


/* topo da pagina - ajustar */
#cabecalho {position: absolute; top: 0; left: 0; width: 959px; height: 148px;}
#cabecalho img {position: absolute; top: 16px; left: -4px;}
#cabecalho #nav {position: absolute; top: 105px;}
#cabecalho #nav li {float: left; border-left: 1px solid #494949;}
#cabecalho #nav li.last {border-right: 1px solid #494949;}
#cabecalho #nav li a {display: block; padding: 8px 21px 8px; color: #ddd; font-size: 11px; text-decoration: none; text-transform: uppercase; overflow: hidden;}
* html #cabecalho #nav li a {position: relative;}
#cabecalho #nav li a:hover {color: #fff; background-color: #424242;}
#cabecalho div {position: absolute; top: 18px; right: 0; width: 270px; height: 144px; }
#cabecalho div p {padding-bottom: 7px; color: #fefefe; font: bold 1.6em/1 "Trebuchet MS", Helvetica, Jamrul, sans-serif;}
#cabecalho div ul li {padding-bottom: 6px; color: #f4f4ed; font-size: 13px; font-weight: bold;}

/* div para conteudo principal - ajustar */
#content {float: left; position: relative; width: 650px; margin-top: 168px; padding: 12px 0 30px 5px; border-color: #9FA19D}
#content h1 {width: 580px; margin-bottom: 6px; padding-bottom: 2px; color: #3f3f3e; font: 3.6em/1 "Trebuchet MS", Helvetica, Jamrul, sans-serif;}
#content h2 {padding: 14px 0 10px; color: #CC0000; font: bold 1.9em/1 "Trebuchet MS", Helvetica, Jamrul, sans-serif;}
#content h3 {padding: 14px 0 5px; color: #CC0000; font: bold 1.4em/1 "Trebuchet MS", Helvetica, Jamrul, sans-serif;}
#content p {padding-bottom: 16px; font-size: 1.0em; line-height: 1.6; line-color:red;}
#content p.metadata {margin-bottom: 5px; font-weight: bold;}
#content p.metadata span {color: #888;}
#content p.metadata span.category {margin-right: 2px; padding: 5px 7px 4px; color: #fff; background-color: #f49800; font-size: 10px; font-style: normal; font-weight: normal; text-align: center; line-height: 1; text-transform: uppercase;}
#content ul, #content ol {padding: 0 0 15px 10px;}
#content ul {list-style-type: disc; line-height: 18px;}

#content ul li span, #content ol li span {color: #444;}
#content img.right {float: right; margin: 0 0 12px 25px;}
#content img.left {float: left; margin: 0 25px 12px 0;}
#content p.img-center {text-align: center;}
#content p.img-right {float: right; padding: 0 0 12px 25px;}
#content p.img-left {float: left; padding: 0 25px 12px 0;}
#content span.boldTitle {font-weight: bold;}

/* div do canto - ajustar */
#sidebar {float: right; width: 270px; margin-top: 139px; padding: 36px 0;}
#sidebar h2 {padding: 4px 0 10px; color: #493F3D; font: bold 1.6em/1 Verdana,Arial, Helvetica, sans-serif;}
#sidebar p {padding: 0 10px 0; color: #3f3f3e; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; line-height: 1.6;}
#sidebar #recent {margin: 22px 0 20px 22px; padding-top: 12px;}
#sidebar #recent p {margin-bottom: 11px;}
#sidebar #recent ul li {width: 170px; margin-bottom: 16px; padding-left: 1px; color: #555;}
#sidebar #recent ul li a {color: #3f3f3e; font-size: 13px; text-decoration: none;}
#sidebar #recent ul li a:hover {color: #f49800;}
#sidebar #inner {background-image: url(../images/fundo_cinza_p.png); background-repeat:no-repeat; width: 320px;}
#sidebar #inner ul {list-style-type: square; line-height: 1.2; font-size: 0.9em; padding-left: 20px;}
#sidebar #inner ul li{lwidth: 170px; margin-bottom: 16px; padding-left: 1px;}
#sidebar #inner span{margin-right: 2px; padding: 1px 5px 1px; font-size: 14px; font-weight: bold; line-height: 20px; }
#sidebar span.orangeTitle{color: #FF9500;}
#sidebar span.redTitle{color: #CC0000;}
#sidebar span.blueTitle{color: #005490;}

/* rodape */
#push div {height: 100px; clear: both;} /*-for sticky footer-*/
#rodape, #rodapeI {height: 70px;text-align: center;}
#rodape div, #rodapeI div {position: relative; width: 965px; margin: 0 auto; text-align: center; border: 1px solid #00A2E1;}
#rodape div span, #rodapeI div span {color: #002B5F; font-family: Arial,Helvetica,sans-serif; font-size: 0.9em; text-align: center; line-height: 20px;}
#rodape div p, #rodapeI div p {color: #002B5F; font-family: arial,helvetica,clean,sans-serif; font-size: 0.7em; text-align: center; line-height: 25px;}
#rodapeI {position: absolute; top: 790px; left: 150px;}

/* tabelas */
table.stats {text-align: center; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: normal; font-size: 14px; width: 580px; border: 0px; border-collapse: collapse; border-spacing: 0px;}
table.stats td {color: #000; padding: 4px; line-height: 18px; text-align: left; border: 1px #fff solid;}
table.stats tr {border-color: #F4F4ED;}

table.stats td.hed
{background-color: #FF9500; color: #fff; padding: 4px; text-align: left; border-bottom: 2px #fff solid; font-size: 12px;font-weight: bold;} 
table.stats td.hedRed
{background-color: #CC0000; color: #fff; padding: 4px; text-align: left; border-bottom: 2px #fff solid; font-size: 12px;font-weight: bold;} 
table.stats td.hedBlue
{background-color: #005490; color: #fff; padding: 4px; text-align: left; border-bottom: 2px #fff solid; font-size: 12px;font-weight: bold;} 

#noticias, #destaques {position: absolute; top:0; width: 550px; height: 210px; background-image: url(../images/fundo_cinza.png); background-repeat:no-repeat;}
#noticias #inner, #destaques #inner {margin-top: 5px; padding: 4px 10px; margin-right: 10px; }
#noticias #inner span, #destaques #inner span {position: absolute; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 14px;}
#noticias #inner p {font-family: Arial; font-size: 14px; line-height: 20px; }

#destaques {top:250px;}

#destaques #inner #imagem5 {padding: 5px 0;}
#destaques #inner #textos5 {padding: 5px 130px; width: 380px;}
#destaques #inner p {font-family: Arial; font-size: 14px; line-height: 20px; }

#agendaTurmas, #agendaMiniCursos {position: absolute; top:0; width: 370px; height:300px; left:590px; background-image: url(../images/fundo_verde.png); background-repeat:no-repeat;}
#agendaTurmas div, #agendaTurmas2 div, #agendaMiniCursos div { margin-top: 5px; padding: 4px 10px; margin-right: 10px; }
#agendaTurmas div span, #agendaTurmas2 div span, #agendaMiniCursos div span {position: absolute; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 14px;}
#agendaTurmas li, #agendaTurmas2 li, #agendaMiniCursos li { list-style-type:none; font-family: Arial,sans-serif; font-size: 14px; line-height: 16px; width: 250px;}
#agendaTurmas li a, #agendaTurmas2 li a, #agendaMiniCursos li a {line-height: 20px;}
#agendaTurmas li.dia, #agendaTurmas2 li.dia, #agendaMiniCursos li.dia {font-style: italic; font-weight: bold;}

#agendaTurmas2 {background-image: url(../images/fundo_verde.png); background-repeat:no-repeat; width: 390px;}

#agendaMiniCursos {top:350px; height:210px;}
#descCurso {line-height: 20px;}

#promocao {font: bold 2.0em/1 "Palatino"; color:#CC0000; line-height: 60px; }

#time {text-align: center;}
#time img.right {float: right; margin: 0 0 12px 25px;}
#time img.left {float: left; margin: 0 25px 12px 0;}
#time .nome {font-family: Arial,sans-serif; font-size: 12px; line-height: 16px; text-align: center;}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: left;
}

/*provisorio*/
#cabecalho .tdc {position: absolute; left: 230px; top:-10px;}
#trilhasTDC {position: absolute; top:220px; width: 370px; height:210px; left:580px;}
