<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <description>Servlet de Contato</description>
    <display-name>ContatoServlet</display-name>
    <servlet-name>ContatoServlet</servlet-name>
    <servlet-class>br.com.yaw.servlet.ContatoServlet</servlet-class>
    <init-param>
    	<param-name>host_smtp</param-name>
    	<param-value>smtp.gmail.com</param-value>
    </init-param>
    <init-param>
    	<param-name>user_smtp</param-name>
    	<param-value>rafael@yaw.com.br</param-value>
    </init-param>
    <init-param>
    	<param-name>pass_smtp</param-name>
    	<param-value>ahnes25</param-value>
    </init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>controller</servlet-name>
  	<servlet-class>br.com.yaw.servlet.YaWController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ContatoServlet</servlet-name>
    <url-pattern>/contato/contato</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
</web-app>